@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: "Twilio-Sans-Mono";
  font-weight : 300;
  src: url("/public/assets/twilioSansFonts/TwilioSansMono-Light.woff") format('woff');
}
@font-face {
  font-family: "Twilio-Sans-Mono";
  font-weight : 400;
  src: url("/public/assets/twilioSansFonts/TwilioSansMono-Regular.woff") format('woff');
}
@font-face {
  font-family: "Twilio-Sans-Mono";
  font-weight : 500;
  src: url("/public/assets/twilioSansFonts/TwilioSansMono-Medium.woff") format('woff');
}
@font-face {
  font-family: "Twilio-Sans-Mono";
  font-weight : 600;
  src: url("/public/assets/twilioSansFonts/TwilioSansMono-Bold.woff") format('woff');
}
@font-face {
  font-family: "Twilio-Sans-Mono";
  font-weight : 700;
  src: url("/public/assets/twilioSansFonts/TwilioSansMono-Heavy.woff") format('woff');
}
@font-face {
  font-family: "Twilio-Sans-Mono";
  font-weight : 800;
  src: url("/public/assets/twilioSansFonts/TwilioSansMono-Extrabold.woff") format('woff');
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 
  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.navBar{
min-height: 46px !important;
}
.navTitle{
  font-size: 18px !important;
  line-height: 28px !important;
  font-weight: 400 !important;
}
.Headertitle{
font-size: 20px !important;
font-weight: 600 !important;
line-height: 28px !important;
letter-spacing: -2 !important;
}
.headerBtns{
  gap: 20px !important;
}
.headerBtn{
  min-width: 100px !important;
  min-height: 36px !important;
  border-radius: 24px !important;
  padding: 10px !important;
  gap: 10px !important;
}
.customSelects, .customInputs{
  gap: 4px !important;
}
.customSelectTitle, .customInputTitle{
  min-height: 20px !important;
}
.custom-select, .custom-Input{
  min-height: 36px !important;
  gap: 10px !important;
 padding: 8px, 12px, 8px, 12px !important;
}
.actionBtn{
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 21px !important;
  color: #606B85 !important;
}
.actionIcon{
  width: 20px !important;
  height: 20px !important;
}
.css-1hucnu1-MuiFormLabel-root-MuiInputLabel-root{
top:-10px !important;
font-size: 14px !important;
font-weight: 500;
line-height: 20px !important;
color: #5C5C5C !important;
}
.css-18lpkjc-MuiAutocomplete-root .MuiOutlinedInput-root{
  padding: 0px !important;
} 
.css-1vd2qld-MuiGrid-root>.MuiGrid-item {
  padding: 0 24px !important;
}
.data-rows td{
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB
;
}

.data-rows td:first-child{
  border-radius: 10px 0px 0px 10px;
  border-left: 1px solid #EBEBEB
;
  overflow: hidden;
}

.data-rows td:last-child{
  overflow: hidden;
  border-radius: 0px 10px 10px 0px;
  border-right: 1px solid #EBEBEB
;
}